.caja{
    width: 500px;
    height: 500px;
    background-color: darkgreen;
}

p{
    width: 100%;
    font-size: 70px;
    font-weight: 200;
     
}

.caja2{
    width: 500px;
    height: 500px;
    background-color: rgb(107, 126, 85);
}